<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BT Checkout</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="bar-checkout-panel" class="bar-checkout-panel">
        <div class="bar-panel-body">
            <h2 class="bar-title">Steps 3: Payment (Braintree)</h2>

            <div class="bar-progress-bar">
                <div class="barstep baractive"></div>
                <div class="barstep baractive"></div>
                <div class="barstep"></div>
                <div class="barstep"></div>
            </div>

            <div>
                <label class="payment-info">Payment Method:</label>
            </div>


            <div class="payment-method">
                <label for="card" class="method card">
                    <div class="card-logos">
                        <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png" />
                        <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png" />
                    </div>

                    <div class="radio-input">
                        <input id="hoisted-field-radio" type="radio" name="payment" checked>
                        Pay with Hoisted Field
                    </div>
                </label>

                <label for="paypal" class="method paypal">
                    <img src="https://designmodo.com/demo/checkout-panel/img/paypal_logo.png" />
                    <div class="radio-input">
                        <input id="dropin-ui-radio" type="radio" name="payment">
                        Pay with Drop-in UI
                    </div>
                </label>
            </div>

            <div id="hoisted-field" >
                <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="true">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <div class="form-control" id="cc-number"></div>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <div class="form-control" id="cc-expiration"></div>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <div class="form-control" id="cc-cvv"></div>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                </form>
            </div>

            <div id="ui-dropin" class="dropin-ui-body" style="display: none;"></div>

        </div>

        <div class="bar-panel-footer">
            <button class="bar-btn bar-back-btn" id="back-btn">Back</button>
            <button class="bar-btn bar-next-btn" id="pay-now">
                <span id="pay-text">Pay Now</span>
                <span id="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
        </div>
    </div>

    <div class="payment-success-body" id="payment-success-body">
        <h2 class="bar-title">Payment Success!</h2>
    </div>
</body>

</html>
